.col-12,
.col-6,
.col-lg-8,
.col-sm-6,
.col-sm-4 {
  padding: 1rem;
  background-color: white;
  /* border: 2px solid #fff; */
  color: black;
  text-align: center;
  width: 100%;
  height: 100%;
}

.main-content {
  height: 70%;
  color: black;
}
.footer {
  height: 9%;
}

.navbar-brand {
  padding-top: 1em !important;
}

.jumbotron {
  color: black;
}

.header,
.navigation,
.report-menu {
  height: 7%;
}
.container-fluid {
  height: 100%;
}
.screen-font {
  font-size: large !important;
}

.profile-hover:hover {
  -webkit-animation: shadow-drop-2-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@media screen and (min-width: 768px) {
  .footer {
    position: fixed;
    bottom: 9.5%;
    width: 100%;
    margin: 0 auto;
  }
  .report-menu {
    position: fixed;
    bottom: 16%;
    left: 0;
    width: 100%;
    margin: auto;
  }
}

.jumbotron-home {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
