.col-12,
.col-6,
.col-lg-8,
.col-sm-6,
.col-sm-4 {
  padding: 1rem;
  background-color: white;
  /* border: 2px solid #fff; */
  color: black;
  text-align: center;
  width: 100%;
  height: 100%;
}

.main-content {
  height: 70%;
  color: black;
}
.footer {
  height: 9%;
}

.navbar-brand {
  padding-top: 1em !important;
}

.jumbotron {
  color: black;
}

.header,
.navigation,
.report-menu {
  height: 7%;
}
.container-fluid {
  height: 100%;
}
.screen-font {
  font-size: large !important;
}

.profile-hover:hover {
  transform: scale(1.2);
}
