/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
main > .container {
  padding: 60px 15px 0;
}

/* GJ: Had to insert the below because for some reason, .row always has a Margin -15 */
/* i.e. all the text was slightly off on the left hand side of the screen */
.row {
  margin-left: 5px;
}

/* GJ: Added to ensure footer is at the bottom all the time*/
.glenfooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.pagination {
  font-family: sans-serif;
  text-align: center;
}
