.staff-new-form {
  width: 100%;
  text-align: left;
}

.button-width {
  width: 300px;
  font-size: 14px;
}

.button-panel {
  display: flex;
  justify-content: space-evenly;
}

input:invalid {
  border: 1px solid red;
}
input:valid {
  border: 1px solid black;
}

.btn {
  font-size: 12px !important;
}
