.staff-new-form {
  width: 100%;
  text-align: left;
}

.button-width {
  width: 300px;
  font-size: 14px;
}

.button-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input:invalid {
  border: 1px solid red;
}
input:valid {
  border: 1px solid black;
}

.btn {
  display: flex;
  font-size: 12px !important;
  align-items: center !important;
  justify-content: center !important;
}
