@media screen and (max-width: 767px) {
  .staff-list-search {
    display: grid;
    grid-template-columns: 1fr;
  }

  .space-evenly {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem 1rem;
  }
  .space-evenly:nth-child(2) {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .space-evenly > input {
    width: 50%;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 767px) {
  .staff-list-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    margin-bottom: 1rem;
  }

  .space-evenly {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
  }
}
.button-width {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-panel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.button-panel-staff-list {
  display: flex;
  justify-content: center;
}
.mid-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .sidenav > .btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.pagination {
  color: black;
}

.results {
  color: black;
}
.staff-list-search label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  margin: 0;
}
